<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- <add name ="sqlconn" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\MSSQLSERVER01;Initial Catalog=AuMHC;User ID=tester01;Password="/> -->
		<add name ="sqlconn" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\MSSQLSERVER01;Initial Catalog=AuMHC;Integrated Security=true;"/>
	</connectionStrings>
</configuration>